.grantlar {
  background-color: #F8F9FB;

  .row {
    .col-md-6 {
      .box {
        p {
          bottom: 2px;
        }
        img {
          cursor: pointer;
          width: 100%;
        }
      }

      .lastTime {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #9B9FAB;
        mix-blend-mode: normal;
        margin-top: 15px !important;
        margin-bottom: 10px;

        span {
          color: #2681FF;
        }
      }

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #3A404E;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}